@charset "utf-8";
/************************************************************************
 * filename : component.css
 * description : guide component CSS
 * date :
************************************************************************/

.ellipsis {white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.ellipsisLine2 {overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
.blind{position: absolute; width: 1px; height: 1px; clip: rect(0 0 0 0); overflow: hidden;}
.textRed {color: #ff0000 !important;}

.alignLeft {text-align: left;} 
.alignCenter {text-align: center;}
.alignRight {text-align: right;}

.marginTop40 {margin-top:40px;}
.marginTop120 {margin-top:120px;}
.marginTop160 {margin-top:160px}
.marginBottom40 {margin-bottom:40px;}
.marginBottom80 {margin-bottom:80px;}

.buttonArea {text-align: center; margin-top:95px;}
.buttonArea button + button {margin:0 8px;}

.paraTitle {font-size:1.375em; font-weight: 700; color:#333; margin-bottom:10px;}
.paraDesc {font-size:1.125em; font-weight: 400; color:#555; margin-bottom:25px;}
.paraContentTitle {font-weight: 900; font-size:3.125em; text-align: center; margin-bottom:60px;}

/* pagination */
.pagination {vertical-align: middle; text-align: center; margin-top:120px;}
.pagination a { display: inline-block; box-sizing: border-box; text-align: center; text-decoration: none; margin: 0 2px;}
.pagination .arrow {width: 58px; padding: 6px 12px; border-radius: 2px; font-size : 0.875em; font-weight : 400; color: #222; vertical-align: middle; }
.pagination .arrow:hover {background-color: #efefef; font-weight: 400; color: #222; }
.pagination .num { min-width: 32px; padding: 1px 2px 2px 2px; font-size: 1.25em; font-weight: 100; color: #222; vertical-align: middle; }
.pagination .num:hover, 
.pagination .num:active { background-color: #EAEAEA; border-radius: 16px; font-weight: 700; }
.pagination .num.active { font-weight: 700; background-color: #efefef; border-radius: 16px;}



/* Tag - badge */
.badge {padding: 5px 18px;  background-color: #FF7070; color:#fff; font-size: 0.875em; border-radius: 6px; box-sizing: border-box; text-align: center; margin:0 4px; }
.badge.end { background-color: #C5C5C5; }
.badge:first-child {margin-left: 0;;}

/* Tag - hash Tag */
.hashTag {margin:0 4px;padding: 3px 18px 4px 18px; height: 30px; background: #FFFFFF; border: 1px solid #EBEBEB; box-sizing: border-box; border-radius: 19px; color: #333; font-weight: 500; font-size: 0.88em; line-height: 30px;; }
.hashTag::before { content: '#'; margin-right: 5px; }
.hashTag:first-child {margin-left: 0;;}



/* Card Type */
.cardType { position: relative; display: inline-block; position: relative; width: 410px; height: 344px; margin: 0 25px 32px 0; padding: 36px 44px; background-color: #FFFFFF; border: 1px solid #EBEBEB; box-sizing: border-box; border-radius: 8px;}
.cardType:nth-child(3n) { margin: 0 0 32px 0; }
.cardType:hover { box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08); }
.cardType .dDay { position: absolute; left: 44px; bottom: 36px; }
.cardType .tagType { font-weight: 500; font-size: 0.88em; line-height: 30px; }
.cardType .badgeGroup { position: absolute; top: 172px; left: 44px; width: 322px;  }
.cardType .badgeGroup .tag02 { float: left; margin-bottom: 4px; height: 37px; }
.cardType .btnShareSns { display: inline-block; position: absolute; top: 36px; right: 36px; width: 30px; height: 30px; background:url(../images/common/icon_share.png) no-repeat center center; text-indent: -999px; overflow: hidden; }
.cardType .companyName { font-size: 1em; font-weight: 400; color:#444; margin-bottom: 30px; }
.cardType .subject { margin-bottom: 90px; font-size: 1.5em; font-weight: 700; color:#333; letter-spacing: -0.05em; max-height: 76px;}
.cardType .date { position: absolute; right: 38px ; bottom: 36px; display: block; font-size:1em; color:#333; font-weight: 400; text-align: right; line-height: 30px; }


.cardType.end .tagType,
.cardType.end .companyName,
.cardType.end .subject,
.cardType.end .field,
.cardType.end .location,
.cardType.end .date { color:#c6c6c6; }
.cardType.end .dDay { background-color: #C5C5C5; }



.articleWrap {position: relative; padding: 36px 36px 36px 44px; background-color: #fff; border: solid 1px #ebebeb; box-sizing: border-box;border-radius: 8px;
    -webkit-transition:-webkit-box-shadow .25s ease-in-out;
    transition:-webkit-box-shadow .25s ease-in-out;
    -o-transition:box-shadow .25s ease-in-out;
    transition:box-shadow .25s ease-in-out;
    transition:box-shadow .25s ease-in-out,-webkit-box-shadow .25s ease-in-out}
.articleWrap:hover {cursor: pointer; -webkit-box-shadow:0px 8px 16px rgba(0, 0, 0, 0.08);;box-shadow:0px 8px 16px rgba(0, 0, 0, 0.08);}
.articleWrap a {display: block;}
.articleWrap .companyName {display: inline-block; font-size: 1em; font-weight: 400; color:#444; margin-bottom: 0; margin-right:24px; min-height: 30px;}
.articleWrap .subject {font-size: 1.5em; font-weight: 700; color:#333; letter-spacing: -0.05em;}
.articleWrap .tagBox {display: inline-block; padding:10px 0 19px 0; margin-left:-4px;}
.articleWrap .tagBox .tag {display: inline-block; margin: 12px 0 12px 12px; padding: 7px 20px 8px 20px; border: solid 1px #ebebeb; box-sizing: border-box; border-radius: 30px; font-size: 0.875em; color: #333;} 
.articleWrap .badge {margin-right:24px;}
.articleWrap .period{font-size:1em; text-align: right; color:#333; position: absolute; right:36px; bottom:36px;}
.articleWrap .btnShareSns {position: absolute; top: 33px; right: 36px;  width: 30px;  height: 30px;   background: url(../images/common/icon_share.png) no-repeat center center;}
.articleWrap .btnShareSns:hover {background-color: #ebebeb; border-radius: 50%;}

.articleWrap.end .companyName,
.articleWrap.end .subject,
.articleWrap.end .subject a,
.articleWrap.end .tagBox .tag,
.articleWrap.end .period { color:#c6c6c6; }
.articleWrap.end .dDay { background-color: #C5C5C5; }

.announceList{margin-top:120px;}
.announceList.cardTypeR {margin-top:120px;}
.announceList.cardTypeR ul {display: flex; flex-wrap: wrap; justify-content: space-between; }
.announceList.cardTypeR li { flex: 0 32%; margin-bottom: 2%;}
.announceList.cardTypeR li .articleWrap .companyName {display: block; margin-bottom: 25px; margin-right:30px; min-height: auto;  }
.announceList.cardTypeR li .articleWrap .tagBox {display: block; padding:10px 0 19px 0; margin-left:-4px; }
.announceList.cardTypeR li .articleWrap .tagBox .tag {display: inline-block; margin: 4px 0 4px 4px; padding: 7px 20px 8px 20px; border: solid 1px #ebebeb; box-sizing: border-box; border-radius: 30px; font-size: 0.875em; color: #333;} 

.announceList.cardTypeR li .articleWrap .badge {position: absolute; bottom:36px;}
.announceList.cardTypeR li .articleWrap .period{min-height: 30px; font-size:1em; text-align: right; color:#333; display: block; position: unset; bottom: unset; right: unset; }

.announceList.listTypeR ul {margin-bottom:120px;}
.announceList.listTypeR li .articleWrap {padding: 33px 36px 33px 44px;}
.announceList.listTypeR li .articleWrap .tagBox {padding:0 0 0 0; margin-left:0;  position: absolute; top: 31px;}
.announceList.listTypeR li .articleWrap .tagBox .tag {display: inline-block; margin: 0 0 0 0; padding: 7px 20px 8px 20px; border: solid 1px #ebebeb; box-sizing: border-box; border-radius: 30px; font-size: 0.875em; color: #333;} 
.announceList.listTypeR li .articleWrap .subject {margin-top:10px;}
.announceList.listTypeR li {margin:12px 0;} 

.containerAccordion{margin-top:120px;}

/* 
.cardTypeR {position: relative; width: 410px; padding: 36px 36px 36px 44px; background-color: #fff; border: solid 1px #ebebeb; box-sizing: border-box;border-radius: 8px;
    -webkit-transition:-webkit-box-shadow .25s ease-in-out;
    transition:-webkit-box-shadow .25s ease-in-out;
    -o-transition:box-shadow .25s ease-in-out;
    transition:box-shadow .25s ease-in-out;
    transition:box-shadow .25s ease-in-out,-webkit-box-shadow .25s ease-in-out}
.cardTypeR:hover {cursor: pointer; -webkit-box-shadow:0px 8px 16px rgba(0, 0, 0, 0.08);;box-shadow:0px 8px 16px rgba(0, 0, 0, 0.08);}
.cardTypeR a {display: block;}
.cardTypeR .companyName {font-size: 1em; font-weight: 400; color:#444; margin-bottom: 25px;}
.cardTypeR .subject {font-size: 1.5em; font-weight: 700; color:#333; letter-spacing: -0.05em;}
.cardTypeR .tagBox {padding:10px 0 19px 0; margin-left:-4px;}
.cardTypeR .tagBox .tag {display: inline-block; margin: 4px 0 4px 4px; padding: 7px 20px 8px 20px; border: solid 1px #ebebeb; box-sizing: border-box; border-radius: 30px; font-size: 0.875em; color: #333;} 
.cardTypeR .cardFooter {display: flex; justify-content: space-between;}
.cardTypeR .cardFooter .period{font-size:1em; text-align: right; color:#333;}
.cardTypeR .btnShareSns {position: absolute; top: 33px; right: 36px;  width: 30px;  height: 30px;   background: url(../images/common/icon_share.png) no-repeat center center;}
.cardTypeR .btnShareSns:hover {background-color: #ebebeb; border-radius: 50%;}
.cardTypeR.end .companyName,
.cardTypeR.end .subject,
.cardTypeR.end .subject a,
.cardTypeR.end .tagBox .tag,
.cardTypeR.end .period { color:#c6c6c6; }
.cardTypeR.end .dDay { background-color: #C5C5C5; }  */






/* list Type */
.listType { display: inline-block; position: relative; width: 100%; margin-bottom: 12px; padding: 28px 36px; background-color: #FFFFFF; border: 1px solid #EBEBEB; box-sizing: border-box; border-radius: 8px; }
.listType:hover { box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08); }
.listType .dDay { margin-right: 0; vertical-align: middle; }
.listType .badgeGroup { display: inline-block; vertical-align: middle; }
.listType .badgeGroup .tag02 { float: left; height: 37px; }
.listType .field { margin-bottom: 0; }
.listType .tagType { font-weight: 500; font-size: 0.88em; line-height: 30px; }
.listType .companyName { display: inline-block; margin: 0 12px 0 24px; font-size: 1em; font-weight: 400; color:#444; vertical-align: middle; }
.listType .btnShareSns { display: inline-block; position: absolute; top: 28px; right: 28px; width: 30px; height: 30px; background:url(../images/common/icon_share.png) no-repeat center center; text-indent: -999px; overflow: hidden; }
.listType .subject { display: inline-block; margin-top: 14px; max-width: 991px; width: 74%; height: 32px; font-size: 1.5em; font-weight: 700; color:#333; letter-spacing: -0.05em; max-height: 76px; }
.listType .date { float: right; margin-left: 23px; font-size:1em; color:#333; font-weight: 400; text-align: right; margin-top: 18px; }
.listType.end .badgeGroup .tagType,
.listType.end .companyName,
.listType.end .subject,
.listType.end .field,
.listType.end .location,
.listType.end .date { color:#c6c6c6; }
.listType.end .dDay { background-color: #C5C5C5; }


.noticeList{margin-top:120px; }
.noticeList li {margin:12px 0;} 


.formRequired {display: inline-block; margin-left:16px; width:14px; height:14px; background: url(../images/common/icon_required.png) no-repeat center center;}

.formField {}
.formField .formGroup {display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;margin-bottom:20px}
.formField .formGroup .formLabel {width:204px; font-size:1.125em; color:#222; padding-top:10px;}
.formField .formGroup .formControl {-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}

.formField.type01 {display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex; gap: 50px;}
.formField .columns{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex; width:auto;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;}
.formField .columns > *:not(.btnFileupload) {-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;-webkit-box-sizing:border-box;box-sizing:border-box}
.formField .columns > .btnMedium {flex: initial;}

.formField .inputFile.columns {width: 50%; gap: 20px;}

.customSelectWrap {position: relative;}
.customSelectBox {position: relative; border: solid 1px #ebebeb; background-color: #fff;  border-radius:4px; box-sizing: border-box; font-size: 1em; cursor: pointer; position: relative; outline: 0px;}
.customSelectBox::after {content: ''; width:14px; height:14px; position: absolute; right:16px; top:15px; background: url(../images/common/icon_tryangle_sm.png) no-repeat center center;}
.customSelectBox.selected {border:solid 1px #222;}
.selectOrigin {display: none;}
.customSelectText {padding: 8px 11px 10px 20px; display: block;}
.customSelectArrow {position: absolute; top: 20px; right: 15px;}
.customSelectList { position: absolute; top:49px;  width:100%;  font-size: 1em; z-index: 15; border: solid 1px #ebebeb; background-color: #ffffff;  text-align: left; box-sizing: border-box;  border-radius: 4px;; }
.customSelectOption {padding: 8px 11px 10px 20px; cursor: pointer; box-sizing: border-box; position: relative;}
.customSelectOption.selected::after {content: ''; width:14px; height:14px; position: absolute; right:16px; top:15px; background: url(../images/common/icon_chcek_blue.png) no-repeat center center;}
.customSelectOption:hover {color: #222; background-color: #f1f1f1; box-sizing: border-box;}


.inputText {width: 100%; background: #f3f3f3; border:solid 1px #f3f3f3; border-radius: 4px; padding: 8px 11px 10px 20px;  box-sizing: border-box;}
.textArea {width: 100%; background: #f3f3f3; border:solid 1px #f3f3f3; border-radius: 4px; padding: 8px 11px 10px 20px;  box-sizing: border-box;}
.textArea textarea {background: transparent; width:100%;}

/* .inputText:focus,
.customSelectBox:focus,
.textArea:focus {
  background: #FFFFFF;
  border: 2px solid #222222;
} */

.inputFile{position:relative}
.inputFile input[type='text']:-moz-read-only{opacity:1}
.inputFile input[type='text']:read-only{opacity:1}
.inputFile input[type='text']::-webkit-input-placeholder{opacity:1}
.inputFile input[type='text']::-moz-placeholder{opacity:1}
.inputFile input[type='text']:-ms-input-placeholder{opacity:1}
.inputFile input[type='text']::-ms-input-placeholder{opacity:1}
.inputFile input[type='text']::placeholder{opacity:1}
.inputFile input[type='file']{display:none}
.inputFile .delFile{display:none;position:absolute;top:50%;right:110px;margin-top:-10px;border-radius:0;border:0;background-color:transparent;font-size:0;height:20px;line-height:1}
.inputFile.valid .delFile{display:block}


/* .inputCheckbox{display:inline-block;height:20px}
.inputCheckbox input{border:0;clip:rect(0 0 0 0);width:1px;height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute}
.inputCheckbox .txt{display:inline-block;line-height:1}
.inputCheckbox label{display:inline-block;padding:0 10px 0 25px;position:relative;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:pointer}
.inputCheckbox label:after,.inputCheckbox label:before{content:'';position:absolute;top:50%;left:0;width:22px;height:22px;margin-top:-10px;border:1px solid #bbb;border-radius:3px}
.inputCheckbox label:before{-webkit-transition:background-color .2s ease-in-out;-o-transition:background-color .2s ease-in-out;transition:background-color .2s ease-in-out}
.inputCheckbox.right label{padding:0 0 0 26px}
.inputCheckbox.left label{padding:0 24px 0 0}
.inputCheckbox.left label:before{left:auto;right:0}
.inputCheckbox.left label:after{left:auto;right:0}
.inputCheckbox.left input:checked + label:after{left:auto}
.inputCheckbox input:disabled:focus + label:before{border-color:grey}
.inputCheckbox input:disabled:hover + label:before{border-color:grey}
.inputCheckbox input:disabled + label:before{opacity:0.5}
.inputCheckbox input:disabled + label:after{opacity:0.5}

.inputCheckbox input:focus + label,.inputCheckbox input:focus + label::before,.inputCheckbox input:hover + label::before{outline:1px dotted #666}}
.inputCheckbox input:checked + label:before{border-color:transparent;background:#da291c}
.inputCheckbox input:checked + label:after{content:"";height:6px;width:10px;position:absolute;top:50%;left:11px;margin-top:-1px;-webkit-transform:translate3d(-50%, -50%, 0) rotate(-45deg);transform:translate3d(-50%, -50%, 0) rotate(-45deg);border-color:transparent;border-bottom:2px solid #fff;border-left:2px solid #fff;border-radius:0}
.inputCheckbox.custom-type02 label::before{-webkit-transition:border-color .2s ease-in-out;-o-transition:border-color .2s ease-in-out;transition:border-color .2s ease-in-out}
.inputCheckbox.custom-type02 label::after{border:0;-webkit-transition:border-color .2s ease-in-out;-o-transition:border-color .2s ease-in-out;transition:border-color .2s ease-in-out}
.inputCheckbox.custom-type02 input:checked + label::before{background-color:transparent;border-color:#da291c}
.inputCheckbox.custom-type02 input:checked + label::after{margin-top:0;border-color:#da291c} */

/* Form - Select */
.select { position: relative; min-width: 220px; margin-right:8px; padding: 4px 20px; background:url(../images/common/icon_arrow_fill.png) no-repeat 189px center #F3F3F3; line-height: 32px; box-sizing: border-box; border: none; border-radius: 4px; font-size: 1em; font-weight: 300; color: #222;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.select:last-child { margin-right: 0; }
select::-ms-expand { display: none; }
.select.big { padding: 8px 20px; width: 448px; background:url(../images/common/icon_arrow_fill.png) no-repeat 417px center #F3F3F3; }



/* Form - input */
.input { display: inline-block; position: relative; width: 100%; margin-bottom: 20px; }
.input label { line-height: 48px; }
.input img { margin-left: 16px; }
.input input { position: absolute; top: 0; left: 117px; padding: 10px 16px; width: calc(100% - 117px); height: 44px; background: #F3F3F3; border-radius: 4px; font-size: 1em; Font-weight: 400; line-height: 24px; color: #444444; }
.input input:hover { border: 1px solid #DADADA; }
.input input:focus { background: #FFFFFF; border: 2px solid #222222; }
.input input:disabled { background: #EBEBEB; border: none; cursor: auto; }
.input input:invalid { background: #FFFFFF; border: 2px solid #FA4C4C; }
.input.short input { width: calc(50% - 208px); }
.input.short:nth-child(2n-1) { margin-right: 79px; }
.input .errorMessage { margin-top: 12px; padding-left: 117px; color: #F93333; font-size: 0.88em; font-weight: 500; line-height: 21px; }
.input .errorMessage { display: none; }
.error .errorMessage { display: block; }

/* .inputText { padding: 10px 16px; width:auto; height: 42px; background: #F3F3F3; border-radius: 4px; font-size: 1em; Font-weight: 400; line-height: 24px; color: #444444; } */
/* Form - textarea */



/* button */
.btnBlack {display: inline-block; background-color:#2f2f2f; box-sizing: border-box; text-align: center; color: #fff; font-size: 1.125em; font-weight: 400; letter-spacing: -0.5px; border:solid 1px #2f2f2f; padding: 11px 32px 12px; border-radius: 2px;}
.btnBlack:hover {background-color:#111;  border:solid 1px #111;}
.btnBlack:active {background-color:#2f2f2f;  border:solid 1px #2f2f2f;}
.btnBlack:disabled, .btnBlack.disabled {background-color: #ebebeb; border:solid 1px #ebebeb; color:#c2c2c2; cursor: default;}

.btnWhite {display: inline-block; background-color:#fff; box-sizing: border-box; text-align: center; color: #222; font-size: 1.125em; font-weight: 400; letter-spacing: -0.5px; border:solid 1px #999; padding: 11px 32px 12px; border-radius: 2px;}
.btnWhite:hover {background-color:#f2f2f2;  border:solid 1px #363636;}
.btnWhite:active {background-color:#d8d8d8;  border:solid 1px #afafaf;}
.btnWhite:disabled, .btnWhite.disabled {background-color: #ebebeb; border:solid 1px #d9d9d9; color:#c2c2c2; cursor: default;}

.btnBlack.iconRight, .btnWhite.iconRight {position: relative;padding: 11px 48px 12px 32px;}
.btnBlack.iconRight::after, .btnWhite.iconRight::after {content: ""; width: 8px; height: 14px; position: absolute; right: 19.25px; top: 19.25px;}
.btnBlack.iconRight::after {background: url(../images/common/icon_arrow_right_white.png) no-repeat center center;  }
.btnWhite.iconRight::after {background: url(../images/common/icon_arrow_right_gray.png) no-repeat center center; }

.btnBlack.iconRight:disabled::after, .btnBlack.iconRight.disabled::after {opacity: 0.5; background: url(../images/common/icon_arrow_right_gray.png) no-repeat center center;}
.btnWhite.iconRight:disabled::after, .btnWhite.iconRight.disabled::after {opacity: 0.37;}

.btnRound {border-radius: 30px;}
.btnMedium { font-size: 1em; padding: 8px 32px 10px;}

.btnBlack.btnYoutube {padding-left: 78px; background-color:#ed1f23; background-image: url(../images/media/icon_youtube.png); background-repeat: no-repeat; background-position: 32px 13px; border:solid 1px #ed1f23; vertical-align: middle;}
.btnBlack.btnYoutube img {margin-right:10px;}
.btnBlack.btnYoutube:hover {background-color:#ed1f23;  border:solid 1px #ed1f23;}

/* Accordion */
.wrapAccordion .accordion {margin-bottom: 12px; }
.accordionHeader {position: relative; padding: 24px 96px 24px 112px; border: 1px solid #ebebeb; border-radius: 8px; font-size:1.5em; font-weight: 700; color: #333;  letter-spacing: -0.05em; background-color: #fff; color: #333; outline: none; cursor: pointer; text-align: left; transition: 0.4s; box-shadow:  2px -2px 16px rgba(0, 0, 0, 0.04);}
.accordionHeader:before {content: 'Q'; position: absolute; top: 21px; left: 36px; width:40px; height:40px; font-size:1.5em; line-height: 34px; }
.accordionHeader::after {content: '';  position: absolute; top: 24px; right: 28px; width:40px; height:40px; border-radius: 8px; background: url(../images/common/icon_arrow_up.png) no-repeat center center; -webkit-transform: rotateX(180deg); transform: rotateX(180deg); transition: all 0.3s linear;}
.accordionHeader.active { border-radius: 8px 8px 0 0; box-shadow:none; }
.accordionHeader.active:after {background-color:#f3f3f3; -webkit-transform: rotateX(0); transform: rotateX(0);} 
.accordionContent {position: relative; display: none; font-size:1em; padding: 32px 28px 38px 164px; color:#555; background-color: #F8F8F8; border-radius: 0 0 8px 8px; border: 1px solid #EBEBEB; border-top: 0; box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08); }
.accordionContent:before {content: 'A'; position: absolute; top: 30px; left: 112px; width:40px; height:40px; font-size:2.25em; font-weight: 700; line-height: 34px; color:#333;  }


/* TAB */
.lnbWrap .tabNav {display: flex;height: 70px;}
.lnbWrap .tabNav li {display: flex; align-content: stretch; justify-items: stretch;}
.lnbWrap .tabNav .active a {color: #222; background: #ffffff;}
.lnbWrap .tabNav a {display: flex; display: flex;align-content: stretch; align-items: center; padding:  23px 39px; color: #fff; font-weight: 400; font-size:1em; }
.lnbWrap .tabNav a:hover {background-color: #ffffff; color: #222;} 


.tabNav {display: flex;height: 70px; }
.tabNav li {display: flex; align-content: stretch; justify-items: stretch;}
.tabNav .active a {color: #222; background: #ffffff;}
.tabNav a {display: flex;align-content: stretch; align-items: center; padding:  23px 39px; color: #fff; font-weight: 400; font-size:1em; }
.tabNav a:hover {background-color: #ffffff; color: #222;} 

.tabNav.type01 {margin-bottom: 72px;}
.tabNav.type01 li {border-bottom: solid 5px #fff; }
.tabNav.type01 li a {color:#727272; font-weight: 400;;  font-size:1.5em;padding:  23px 26px; line-height: 78px;}
.tabNav.type01 li:hover,
.tabNav.type01 li.active {border-bottom: solid 5px #222; }
.tabNav.type01 li:hover a,
.tabNav.type01 li.active a { color: #333; font-weight:700;}

.tabNav.type02 {margin-bottom: 72px; justify-content: center; height: auto;}
.tabNav.type02 li {border-bottom: none; }
.tabNav.type02 li a {color:#727272; font-weight: 400;;  font-size:1em;padding:  0 26px; line-height: normal;  border-right:solid 1px #ccc;}
.tabNav.type02 li:hover,
.tabNav.type02 li.active {font-weight: 900; font-size:1em; }
.tabNav.type02 li:hover a,
.tabNav.type02 li.active a { color: #333; font-weight:900;}
.tabNav.type02 li:last-child a {border-right:none;}

.tabBox + .contentDescription {margin-top:80px; margin-bottom: 20px;}


.boxBackgroundGray {background-color: #f8f8f8; padding: 30px 37px; margin-top:60px;}


.bulletList li {position: relative; padding-left:24px; font-size: 1.125em; font-weight: 400; color:#000;;}
.bulletList li::before {content: ""; position: absolute; left:0; top:12px; width:8px; height:4px; background-color: #202020;}


.stepContainer {margin-top:100px; height:400px;}
.stepContainer ul {display: inline-block; padding: 0; margin: 0;  width:100%;}  
.stepContainer ul li {float: left; margin-right:25px;  width:calc( 20% - 25px + 5px ); padding:0 0 0 0; text-align: center; border: solid 1px #ebebeb; box-sizing: border-box; min-height: 300px; 
    -webkit-transition:-webkit-box-shadow .25s ease-in-out;
    transition:-webkit-box-shadow .25s ease-in-out;
    -o-transition:box-shadow .25s ease-in-out;
    transition:box-shadow .25s ease-in-out;
    transition:box-shadow .25s ease-in-out,-webkit-box-shadow .25s ease-in-out;
    background-position: center 119px;
    background-repeat: no-repeat;}
.stepContainer ul li:last-child {margin-right:0;}
.stepContainer ul li.number01 {background-image: url(../images/recruit/icon_step_01.png);}
.stepContainer ul li.number02 {background-image: url(../images/recruit/icon_step_02.png);}
.stepContainer ul li.number03 {background-image: url(../images/recruit/icon_step_03.png);}
.stepContainer ul li.number04 {background-image: url(../images/recruit/icon_step_04.png);}
.stepContainer ul li.number05 {background-image: url(../images/recruit/icon_step_05.png);}


.stepContainer ul li .stepNumber {display: block; font-size: 1.25em; font-weight: 500; color:#888; margin-bottom: 165px; padding-top: 38px;}
.stepContainer ul li .bgBox .title {display: block; font-size: 1.75em; font-weight: 500; color:#333;}
.stepContainer ul li .bgBox .textDesc {display: none; font-size: 1em; text-align:left;}

.stepContainer ul li:hover {cursor: pointer; background-position: center 95px; box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15); overflow: hidden;}
.stepContainer ul li:hover .stepNumber {display: block; font-size: 20px; font-weight: 500; color:#888; }
.stepContainer ul li:hover .bgBox {text-align: left; background-color: #1875F5; padding: 0 30px 30px 30px;  position: relative;}
.stepContainer ul li:hover .bgBox::before {    content: ''; background: #1875F5; display: block; width: 106%;  height: 70px; transform: rotate(15deg); position: absolute;top: -35px; left: -15px; z-index: -1;}
.stepContainer ul li:hover .bgBox .title{color:#fff; font-size: 1.375em; font-weight: 700;; text-align: left; margin-bottom:15px; }
.stepContainer ul li:hover .bgBox .textDesc {display: block; color:#fff; font-size:16px; font-weight: 400;; }


.stepContainer ul li:hover { -webkit-transition: .2s ease-in-out;transition: .2s ease-in-out; transform: translate(0, -25px);}



/* boardView */
.boardViewWrap .articleWrap {cursor: default;}
.boardViewWrap .articleWrap:hover {box-shadow: none;}
.boardViewWrap .articleWrap .tagBox {padding: 0;;}
.boardViewWrap .articleWrap .tagBox .tag {margin:0}
.boardViewWrap .articleWrap .subject {margin-top:18px; display: block;}
.boardViewWrap .articleWrap .subject:first-child {margin-top:0;}
.boardViewWrap .articleWrap .period {clear: both; display: block; font-size:1.125em;    text-align: left; margin-top:28px; position: unset; right:unset; left: unset;bottom: unset;}

.boardViewWrap .articleView {padding:60px 36px 60px 44px; border-bottom:solid 1px #e4e4e4;}
.boardViewWrap .articleView .paraTitle {font-size:1.375em; font-weight: 700; color:#333; margin-bottom:15px;}
.boardViewWrap .articleView .paraDesc {margin-bottom:80px;}
.boardViewWrap .articleView .tableType01 {margin-bottom:80px;}

.tableType01 {border-collapse: collapse; border:solid 1px #e7e7e7}
.tableType01 thead tr th,
.tableType01 thead tr td {background-color: #f4f4f4; border:solid 1px #e7e7e7; padding: 19px; font-size: 1em; color:#222; font-weight: 400; }
.tableType01 tbody tr th,
.tableType01 tbody tr td {background-color: #fff; border:solid 1px #e7e7e7; padding: 30px 19px; font-size: 1em; color:#555; font-weight: 400; vertical-align: middle;}


.articleList {border-top:solid 2px #444; border-bottom:solid 2px #444;}
.articleList > .item { display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -moz-box-align: center; -ms-flex-align: center; align-items: center; padding: 23px 0 22px; border-bottom: 1px solid #e4e4e4; }
.articleList > .item [class*="item"] { padding: 0 0 0 0; font-family: 'NotoB'; font-size: 1.125em; font-weight:700;  color: #444;;}
.articleList > .item [class*="item"]:before { display: inline-block; content: ""; width: 8px; height: 8px;  }
.articleList > .item:last-child {border-bottom: none;}
.articleList > .item .title { -webkit-box-flex: 1; -webkit-flex: 1; -moz-box-flex: 1; -ms-flex: 1; flex: 1; overflow: hidden; padding: 0 25px; color: #333333; font-size: 1.125em; font-weight: 400;; -o-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }
.articleList > .item .time { padding: 0 25px; color: #999999; font-size: 1em; }
.articleList > .item:hover .title { text-decoration: underline; }



.guideBox {background-color: #f8f8f8; border-radius:8px; padding: 21px 24px 21px 45px; margin: 0 auto; width: auto; display: inline-block;}
.guideBox button {margin-left:45px;}


/* TABLE */
.wrapTable table {width: 100%;}
.wrapTable table, th, td {border: 1px solid #E7E7E7; border-collapse: collapse; text-align: center}
.wrapTable thead {height: 61px; background-color: #F4F4F4;}
.wrapTable thead tr th {vertical-align: middle; font-size: 1em; font-weight: 500; color: #222; line-height: 32px;}
.wrapTable tbody tr td {vertical-align: middle;  font-size: 1em; font-weight: 500; color: #555; line-height: 20px;}
.wrapTable tbody tr td:nth-child(2) {padding: 39px 0 38px 61px; text-align: left;}

/* LIST */
.wrapUl {list-style-type: disc;list-style-position: inside;}
.wrapOlNumber {list-style-type: decimal;list-style-position: inside;}



.list ul { display:flex; justify-content:space-between; align-items:flex-start;height:100%; text-align:center; gap: 43px;}
.list ul > li { display:flex; justify-content:center; align-items:center; position:relative;  box-sizing: border-box;
    -webkit-transition:all ease .3s;	    
    -moz-transition:all ease .3s;	    
    -ms-transition:all ease .3s;	    
    -o-transition:all ease .3s;	    
    transition:all ease .3s;	
}

.list ul > li > a {height:100%; width:100%;  box-sizing: border-box; text-align: left;
	-webkit-transition:all ease .3s;
	-moz-transition:all ease .3s;
	-ms-transition:all ease .3s;
	-o-transition:all ease .3s;
	transition:all ease .3s;}
.list ul > li > a figure {overflow: hidden;}
.list ul > li > a .infoWrap {display:flex; flex-direction: column; justify-content:center; align-items:flex-start;  background: #fff; padding: 25px 0 0 0;}
.list ul > li > a .title {font-size:1.5em; font-weight: 500; color:#000; margin-bottom: 6px}
.list ul > li > a .desc {font-size:0.938em; font-weight: 300; color:#222;}

.list.mediaType ul {flex-wrap: wrap;}
.list.mediaType ul > li {flex-basis: 360px;}
.list.mediaType ul > li figure {position: relative;}
.list.mediaType ul > li figure::after{content: ''; position: absolute; left:0; top:0; width:100%; height:100%; background: url(../images/media/icon_youtube_play.png) no-repeat center center;}
.list.mediaType ul > li .title {font-size:1.5em; letter-spacing: -1.125px; color:#333; margin-bottom:24px;}
.list.mediaType ul > li .desc {font-size:1em; color:#444; font-weight:400; margin-bottom:24px; }
.list.mediaType ul > li .date {font-size:1em; font-weight:400; color:#999;}

.mediaContentBox {display: flex; width: 100%; gap: 60px; align-items: stretch; }
.mediaContentBox .infoWrap {text-align: center; width: 276px;}
.mediaContentBox .infoWrap  figure {margin-bottom:15px;}
.mediaContentBox .infoWrap .team {font-size:0.938em; font-weight: 400; color:#444; margin-bottom: 6px} 
.mediaContentBox .infoWrap .name {font-size:1em; font-weight: 700; color:#222; margin-bottom:30px;}
.mediaContentBox .mediaContentWrap {background-color: #fafafa; flex-grow: 1; }


.mediaSnsTop {display: flex; flex:1 1 640px; align-items: stretch; margin-bottom:72px;}
.mediaSnsTop .thumbnail {flex-shrink: 0; width: 640px; max-height: 400px; overflow: hidden; position: relative;}
.mediaSnsTop .thumbnail::after{content: ''; position: absolute; left:0; top:0; width:100%; height:100%; background: url(../images/media/btn_play.png) no-repeat center center;}
.mediaSnsTop .textBox { flex-grow:1; background-color: #3C444F; padding:68px 60px; color:#fff; max-height: 400px;;}
.mediaSnsTop .textBox .title {position: relative; font-size: 1.875em; font-weight: 700; margin-bottom: 72px;;}
.mediaSnsTop .textBox .title::after {content:''; position: absolute; top:80px; left:0; width:65px; height:3px; background-color: #fff;}
.mediaSnsTop .textBox .desc {font-size:1.125em; font-weight:400; margin-bottom:42px;}
.mediaSnsTop .textBox .date {font-size:1em; color:#aaa;}



.mediaWrap .snsWrap {width: 100%; margin:0; background: none; display: flex; gap: 125px;}
.mediaWrap .snsWrap .title .btnMore {position: absolute; right:0; font-size: 0.875em; font-weight:400; color:#555; background: url(../../assets/images/common/icon_arrow.png) no-repeat right center;   padding-right:15px;}
.mediaWrap .snsWrap > div {flex-grow: 1; flex-basis: 50%;}
.mediaWrap .snsWrap .instagram .title {margin-bottom:30px; position: relative;}
.mediaWrap .snsWrap .insta-list ul {gap: 28px;}
.mediaWrap .snsWrap .insta-list ul li {width:30%;}
.mediaWrap .snsWrap .insta-list ul li img {width: 100%;}
.mediaWrap .snsWrap .kakao > .title {background: url(../../assets/images/media/icon_kakao_sm.png) no-repeat left center; margin-bottom:30px;}

.mediaWrap .snsWrap .kakao .banner {display: flex; gap: 30px; margin-bottom:25px;}
.mediaWrap .snsWrap .kakao .banner .textWrap .title {font-size:1.875em; font-weight: 900; color:#222; padding-left:0; margin-bottom:15px; margin-top:10px;}
.mediaWrap .snsWrap .kakao .banner .textWrap .desc {font-size:1em; font-weight:400; color:#333;}

.mediaWrap .kakao-contact {background: #F7E600 url(../images/media/icon_kakao.png) no-repeat 85% center; padding:30px 30px;}
.mediaWrap .kakao-contact .title {font-size:1.25em; font-weight:700; color:#222; padding-left:0%;}
.mediaWrap .kakao-contact .desc {font-size:1em; color:#444;}
.mediaWrap .kakao-contact .time {font-size:1em; color:#3A1D1D;}


.paraWrap {}
.paraWrap .paraTitle{color:#222222; font-size:2em; font-weight: 700; padding-left:35px; position: relative; margin-bottom:72px;} 
.paraWrap .paraTitle::before {content:''; position: absolute; left:0; top:23px; width:20px; height:3px; background-color: #294770;}
.paraWrap .picture{min-height: 300px; padding:75px; margin-bottom:75px; position: relative;}
.paraWrap .picture::before {content: ''; position: absolute; left:0; top:0;z-index: -1; background: #C9D0D8; width:85%; height:300px;}
.paraWrap .picture .namecard {position: absolute; right:0; top:75px; display: inline-block; min-width: 400px; background-color: #3C444F; padding:40px; color:#fff;}
.paraWrap .picture.interview_01 {background-image: url(../images/hrsystem/interview_pic_01.png); background-position: left top; background-repeat: no-repeat;}
.paraWrap .paraContent{}


.jobDetail {border-top:solid 1px #294770; margin-bottom:100px;}
.jobDetail dl {display: flex; align-items: center;}
.jobDetail dl dt {flex-shrink: 0; width:30%; padding: 30px 50px 30px 125px;}
.jobDetail dl dt img {margin-right:20px;}
.jobDetail dl dd {flex-grow: 1;  padding: 30px 0;}
.jobDetail dl.bg {background-color: #F9F9F9;}

.interviewType {padding-left:110px; padding-bottom:30px; border-bottom:solid 1px #294770;}
.interviewType dl {margin-bottom:60px;}
.interviewType dl dt {font-size:1.5em; font-weight: 500; margin-bottom:30px;}
.interviewType dl dt::before{content: 'Q'; font-weight: 900; font-size: 1.5em; margin-right:15px;}
.interviewType dl dd {color:#666; font-size:1em; font-weight: 400;  padding-left: 45px;}
